{
  "env": {
    "local": {
      "db": "http://127.0.0.1:5984/gofast"
    },
    "cloudant": {
      "db": "https://byearromescaterentoosing:vPVqNt1A0jKucm15Y3jS2WnF@fsodannis.cloudant.com/newgofast"
    },
    "cloudant": {
      "db": "https://invernieselontsenedstonc:qPdaNL2dNlYtPLp5QgFlnt7t@fsodannis.cloudant.com/gofast"
    }
  }
}
